<div id='tsparticles' class='absolute inset-0 z-[-1]'></div>

<script>
    async function loadParticles() {
        const { tsParticles } = await import('@tsparticles/engine')
        const { loadLinksPreset } = await import('@tsparticles/preset-links')
        
        const darkMediaQuery = window.matchMedia('(prefers-color-scheme: dark)')
        
        // Configuration Logic
        const setOptions = (isDark: boolean) => {
            tsParticles.load({
                id: 'tsparticles',
                options: {
                    preset: 'links',
                    // Keep background transparent so CSS handles the color
                    background: { color: { value: 'transparent' } },
                    particles: {
                        links: {
                            color: { value: isDark ? '#232323' : '#cacaca' },
                        },
                        color: {
                            value: isDark ? '#343434' : '#bababa',
                        },
                    },
                },
            })
        }

        // Initialize
        await loadLinksPreset(tsParticles)
        setOptions(darkMediaQuery.matches)

        // Listener for theme changes
        darkMediaQuery.addEventListener('change', e => setOptions(e.matches))
    }
    const isCrawler =
        /bot|spider|google|headless/i.test(navigator.userAgent) 
    if (!isCrawler) {
        if ('requestIdleCallback' in window) {
            window.requestIdleCallback(() => {
                loadParticles()
            })
        } else {
            setTimeout(() => {
                loadParticles()
            }, 200)
        }
    }
</script>
